div.content-result {
	position: relative;
    margin: 8% 12%;
    width: 60%;
}
p.warning {
	color: #A10808;
	font-weight: bold;
}
p.is-available {
	color: #5c7cfa;
	font-weight: bold;
}
.delete-btn {
	background-color: #A10808;
	color: white;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
	border: none;
}
.delete-btn:hover {
	color: white;
}
a.edit-btn {
	background-color: #5c7cfa;
	color: white;
	padding: 5px;
	border-radius: 5px;
	margin-right: 15px;
}
a.edit-btn:hover {
	color: white;
}
div.edit-admin {
	padding-top: 30px;
}
div.list-row {
	border: solid grey 3px;
    border-radius: 4px;
    padding: 20px;
    width: 120%;
    margin-bottom: 50px;
}